body {
     margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
     width:100%;
     font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
.get_app_link{
    color:white;
}
footer{
    background-color: #464646;
    height:40px;
}
footer span{
    position:relative;
    text-align: center;
    margin-left:20px;
    top:10px;
}
#footer_holder{
    color: #fff;
    width:250px;
    margin:0 auto;
    font-weight: 300;
}
.global_wrapper{
    margin-top:70px;
    margin-left:-40;
}
.global_wrapper_left{
    position:fixed;
    margin-left:220px;
    margin-top:-20px;
}
.global_wrapper_left{
    cursor:pointer;
}
.global_wrapper_right{
    margin-left: 420px;
    margin-right: 100px;
    text-align: justify;
}
#blueline{
    position: fixed;
    width: 3px;
    height: 106px;
    background-color: #3ABAD4;
    margin-left: 164px;
    margin-top: -117px;
}
.header{
    background-color: #464646;
    height:50px;
}
.icons{
    background-color: #f1f0ec;
    height:50px;
    width:100%;
}
.headerlogo{
    margin-top: 12px;
    margin-left: 175px;
}

.button_container{
    width:888px;
    margin: 0 auto;
    cursor: pointer;
}
.button_container span{
    position:relative;
    color: #aeaeae;
    font-weight: 300;
    top: 13px;
    margin-left: 20px;
    margin-right: 40px;
}
h2{
    color: #3ABAD4;
}
h3{
   font-family: 'Lato', sans-serif;
   color: #3ABAD4;
}
p{
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   color:#989797; 
}
li{
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   color:#989797; 
}
address{
    color: #989797;
    font-family: 'Lato', sans-serif;
}
address a{
    color: #3abac3;
}







